.jumbotron{
	text-align: center;
}
body {
	background-color: #FDD7E4;
}
.playerConsole {
  display: none;
}

#msgCenter {
	width: auto;
	height: 250px;
	background-color: gray;
	color: white;
	font-size: 25px;
}
